body {
  width: 100%;
  box-sizing: border-box;
  margin-top: 10%;
  font-family: Barlow;
  font-weight: 400; }

header {
  background-image: url(images/mobile-bg.jpg);
  display: grid;
  grid-template-columns: 30% 1fr 30%;
  /* grid-template-rows: 1fr 1fr; */
  grid-template-areas: "A . B"; }

.logoImg {
  max-width: 20%;
  grid-area: A;
  /* grid-row: 2; */
  justify-self: center; }

.dropdown {
  font-size: 1,5rem;
  font-family: Barlow Condensed;
  font-weight: 700;
  justify-self: center;
  grid-area: B;
  /* grid-row: 2; */ }
  .dropdown__toggle {
    justify-self: center; }
  .dropdown__close {
    justify-self: center;
    margin: 10% -45%; }
  .dropdown__list {
    padding: 52%;
    font-weight: bolder;
    text-align: center; }

.dropdown li {
  color: #000000;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10%; }

a {
  color: #000000;
  text-decoration: none; }
  a:hover {
    /* color: #aaa9b0; */
    color: #a0a1ac;
    font-weight: 700; }

/*****************toggle****************************/
input[type=checkbox] {
  display: none; }

/* .dropdown__toggle,
.dropdown__close {
    float: right;
} */
.dropdown__close {
  visibility: hidden;
  /* right: -20; */ }

ul {
  display: none;
  width: 67vw;
  margin-left: -69vw;
  margin-top: 60%;
  height: 30vh;
  /* margin: auto; */
  box-shadow: 4px 5px 40px #b5b5b5;
  border-radius: 3px;
  background-color: #fff; }

input[type=checkbox]:checked ~ ul {
  display: block; }

input[type=checkbox]:checked ~ .dropdown__toggle {
  visibility: hidden; }

input[type=checkbox]:checked ~ .dropdown__close {
  visibility: visible; }

/*****************toggle****************************/
